[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-math"]
	path = lib/ds-math
	url = https://github.com/dapphub/ds-math
[submodule "uniswap-v2-core"]
	path = uniswap-v2-core
	url = https://github.com/uniswap/uniswap-v2-core.git
